@import '../elevation';
@import '../color';

%card-base {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 344px;
  border-radius: 4px;
  overflow: hidden;
  background-color: $pmd-color-White;
  transition: box-shadow 0.1s ease;
}

.pmd-card {
  @extend %card-base;

  box-shadow: $pmd-elevation-dp1;

  &:hover {
    box-shadow: $pmd-elevation-dp8;
  }
}

.pmd-card-outline {
  @extend %card-base;

  border: 1px solid $pmd-color-Gray-300;

  &:hover {
    box-shadow: $pmd-elevation-dp4;
  }
}

.pmd-card-media {
  width: 344px;
  height: 194px;

  background-color: $pmd-color-Gray-500; //dev
}

.pmd-card-header {
  display: flex;
  align-items: center;
}

.pmd-card-thumbnail {
  // width: 80px;
  // height: 80px;

  background-color: $pmd-color-Gray-500; //dev
}

.pmd-card-thumbnail-mini {
  width: 80px;
  height: 80px;

  background-color: $pmd-color-Gray-500; //dev
}

.pmd-card-thumbnail--icon {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  border-radius: 50%;

  background-color: $pmd-color-Gray-500; //dev
}

.pmd-card-primary {
  padding: 16px;
}

.pmd-card-footer {
  display: inline-flex;
  padding: 8px;
}

.pmd-card-action:not(:last-child) {
  margin-right: 8px;
}
