.pmd-card {
  display: inline-flex;
  flex-direction: column;
  min-width: 344px;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.1s ease;
}

.pmd-card:hover {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pmd-card-primary {
  padding: 16px;
}

.pmd-card-footer {
  display: inline-flex;
  justify-content: 8px;
  padding: 8px;
}

.pmd-card-action:not(:last-child) {
  margin-right: 8px;
}
