@import '../elevation';
@import '../color';

.pmd-card {
  display: inline-flex;
  flex-direction: column;
  min-width: 344px;
  border-radius: 4px;
  box-shadow: $pmd-elevation-dp1;
  background-color: $pmd-color-White;
  transition: box-shadow 0.1s ease;

  &:hover {
    box-shadow: $pmd-elevation-dp8;
  }
}

.pmd-card-primary {
  padding: 16px;
}

.pmd-card-footer {
  display: inline-flex;
  padding: 8px;
}

.pmd-card-action:not(:last-child) {
  margin-right: 8px;
}
